fastapi
pydantic
selenium
frontend
tools
PyPDF2
html2text
xmltodict
docx2markdown
python-pptx
browser_use
faiss-cpu==1.9.0
pycryptodome
tabulate
flask
fitz
terminal_controller # mcp server: https://github.com/GongRzhe/terminal-controller-mcp
mcp_server_calculator # mcp server: https://github.com/githejie/mcp-server-calculator